@font-face{
    font-family: Restaurant;
    src: url(Fonts/Caveat/Caveat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Exo;
    src: url(Fonts/Lobster/Lobster-Regular.ttf);
}

body {
    background-color: #636d5a;
    font-family: Exo;
    font-size: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.navigation  {
    color: white;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #636d5a;
    width: 90%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-image: url(why-does-everyone-love-hummus-so-much-662775.jpg);
    background-size: cover;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.main-1, .main-3, .main-5 {
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.main-1_img{
    height: 400px;
    background-image: url(istockphoto-529727529-2048x2048.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-1_img, .main-3_img, .main-5_img {
    width: 30%;
}
